# Configurações do Banco de Dados MongoDB
MONGODB_URL=mongodb://127.0.0.1:27017
DATABASE_NAME=gestao_estoque

# Configurações da Aplicação
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

# Parâmetros de Regra de Negócio
ALERTA_DIAS_VALIDADE=30
