# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambientes virtuais
.venv
venv/
ENV/

# Arquivos de ambiente e segredos
.env
!.env.example

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Banco de dados local / dumps
data/
*.dump

# Pytest / Cobertura
.pytest_cache/
.coverage
htmlcov/
